<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>All orders</title>
  <style>
    /* Стили для вкладок */
    .tab {
      display: none;
    }
    .tab.active {
      display: block;
    }
    .tabs {
      display: flex;
      cursor: pointer;
      background-color: #f1f1f1;
      padding: 10px;
    }
    .tab-button {
      padding: 10px 20px;
      margin-right: 5px;
      background-color: #e7e7e7;
      border: none;
      border-radius: 5px;
    }
    .tab-button.active {
      background-color: #d1d1d1;
    }
  </style>
</head>
<body>
<h1>Менеджер заказов</h1>
<div class="tabs">
  <button class="tab-button active" onclick="showTab('orders')">Заказы</button>
  <button class="tab-button" onclick="showTab('tools')" th:if="${currentUserRole == 'ROLE_MANAGER_HEAD' || currentUserRole == 'ROLE_MANAGER' || currentUserRole == 'ROLE_FILLING' || currentUserRole == 'ROLE_FILLING_HEAD'}">Инструменты</button>
  <button class="tab-button" onclick="showTab('yourOrders')">Ваши заказы</button>
  <button class="tab-button" onclick="showTab('ordersForAdditionalServices')"
          th:if="${currentUserRole == 'ROLE_MANAGER_HEAD' || currentUserRole == 'ROLE_MANAGER'
          || currentUserRole == 'ROLE_STOCK' || currentUserRole == 'ROLE_STOCK_HEAD'}">Заявки на доп услуги</button>
  <button class="tab-button" onclick="showTab('circulatingGasMixtures')" th:if="${currentUserRole == 'ROLE_LAB' || currentUserRole == 'ROLE_LAB_HEAD' || currentUserRole == 'ROLE_FILLING' || currentUserRole == 'ROLE_FILLING_HEAD' || currentUserRole == 'ROLE_STOCK' || currentUserRole == 'ROLE_STOCK_HEAD'}">Оборотные газовые смеси</button>
  <a href="archive">
    <button class="tab-button">Архив</button>
  </a>
  <a href="history">
    <button class="tab-button">История изменений</button>
  </a>
  <a th:if="${currentUserRole == 'ROLE_MANAGER_HEAD' || currentUserRole == 'ROLE_MANAGER'
          || currentUserRole == 'ROLE_STOCK' || currentUserRole == 'ROLE_STOCK_HEAD'}" href="stock-gas-mixtures">
    <button class="tab-button">Склад</button>
  </a>
  <form th:action="@{/orders-filter}" method="get">
    <label for="filterField">Фильтровать по:</label>
    <select id="filterField" name="filterField">
      <option value="idManager">ID Менеджера</option>
      <option value="client">Клиенту</option>
      <option value="creationDate">Дате создания</option>
      <option value="deadline">Сроку исполнения</option>
      <option value="gasMixture">Газовой смеси</option>
      <option value="status">Статусу</option>
      <option value="typeOrder">Типу заказа</option>
      <option value="responsibleUserId">ID ответственного</option>
    </select>

    <label for="filterValue">Введите значение:</label>
    <input type="text" size="10" id="filterValue" name="filterValue" required>

    <button type="submit" class="tab-button">Применить фильтр</button>
  </form>
</div>

<div id="orders" class="tab active">
  <div id="notificationArea"></div>
  <table>
    <thead>
    <tr>
      <th>Id заявки</th>
      <th>Id менеджера</th>
      <th>Название организации</th>
      <th>Дата создания</th>
      <th>Срок исполнения</th>
      <th>Газовая смесь</th>
      <th>Объем баллонов</th>
      <th>Количество баллонов</th>
      <th>Статус</th>
      <th>Тип</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${order.managerId}"></td>
      <td th:text="${order.client}"></td>
      <td th:text="${order.creationDate}"></td>
      <td th:text="${order.deadline}"></td>
      <td th:text="${order.gasMixture}"></td>
      <td th:text="${order.gasСylinderVolume}"></td>
      <td th:text="${order.numberOfGasCylinder}"></td>
      <td th:text="${order.status}"></td>
      <td th:text="${order.typeOrder}"></td>

    </tr>
    </tbody>
  </table>
</div>
<div id="tools" class="tab">
  <div th:if="${currentUserRole == 'ROLE_MANAGER' || currentUserRole == 'ROLE_MANAGER_HEAD'}">
    <p>Выберите действие</p>
    <form action="create-gas-order" target="_blank">
      <button>Создать заявку</button>
    </form>
  </div>
  <div th:if="${currentUserRole == 'ROLE_FILLING' || currentUserRole == 'ROLE_FILLING_HEAD'}">
    <p>Выберите действие</p>
    <form action="create-gas-mixture" target="_blank">
      <button>Новая смесь</button>
    </form>
  </div>
</div>
<div id="ordersForAdditionalServices" class="tab">
  <div th:if="${currentUserRole == 'ROLE_MANAGER_HEAD'}">
    <h2>Все заявки на доп услуги</h2>
    <table>
      <tr th:each="order : ${orderForAdditionalServices}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.managerId}"></td>
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.typeService}"></td>
        <td th:text="${order.numberOfServices}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:if="${order.orderStatus == 'Передано менеджеру' && currentUser.id == order.managerId}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Принято менеджером'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.orderStatus == 'Принято менеджером' && currentUser.id == order.managerId}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Ожидание оплаты доп.услуг'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Услуги на согласовании</button>
          </form>
        </td>
        <td th:if="${order.orderStatus == 'Ожидание оплаты доп.услуг' && currentUser.id == order.managerId}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Услуги оплачены'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Услуги оплачены</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_MANAGER'}">
    <h2>Ваши заявки на доп услуги</h2>
    <table>
      <tr th:each="order : ${orderForAdditionalServices}" th:if="${currentUser.id == order.managerId}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.managerId}"></td>
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.typeService}"></td>
        <td th:text="${order.numberOfServices}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:if="${order.orderStatus == 'Передано менеджеру'}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Принято менеджером'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.orderStatus == 'Принято менеджером'}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Ожидание оплаты доп.услуг'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Услуги на согласовании</button>
          </form>
        </td>
        <td th:if="${order.orderStatus == 'Ожидание оплаты доп.услуг'}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Услуги оплачены'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Услуги оплачены</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="yourOrders" class="tab">
  <div th:if="${currentUserRole == 'ROLE_MANAGER' || currentUserRole == 'ROLE_MANAGER_HEAD'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${orders}" th:if="${currentUser.id == order.responsibleUserId}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${currentUserRole == 'ROLE_MANAGER' || currentUserRole == 'ROLE_MANAGER_HEAD'}">
          <form action="#" th:action="@{order-update/{id}(id=${order.id})}" target="_blank">
            <button>Редактировать заявку</button>
          </form>
        </td>
        <td th:if="${order.status == 'Дополнительные услуги оплачены'}">
          <form th:action="@{/update-order-status-for-additional-services/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="gasOrderId" th:value="${order.orderId}">
            <input type="hidden" name="status" th:value="'Принято менеджером'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Передать</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_STOCK'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}" th:if="${currentUser.id == order.responsibleUserId}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.typeOrder == 'Баллоны клиента' && order.status == 'Принято на приемке баллонов' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/checking-need-to-accept-cylinders/{id}(id=${order.id})}" method="post">
            <select name="choice">
              <option value="yes">Да</option>
              <option value="no">Нет</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="managerId" th:value="${order.managerId}"/>
            <button type="submit">Выбрать</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято на складе' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано на участок заправки' th:selected="${order.status == 'Передано на участок заправки'}">На участок заправки</option>
              <option value='Передано на участок подготовки' th:selected="${order.status == 'Передано на участок подготовки'}">На участок подготовки</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
        <td>
        <td th:if="${order.typeOrder == 'Баллоны клиента' && order.status == 'Передано на приемку баллонов'}">
          <form th:action="@{/checking-need-to-accept-cylinders/{id}(id=${order.id})}" method="post">
            <select name="choice">
              <option value="yes">Да</option>
              <option value="no">Нет</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="managerId" th:value="${order.managerId}"/>
            <button type="submit">Выбрать</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято на складе для отгрузки' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Отправлено клиенту'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Отгружено</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_STOCK_HEAD'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.typeOrder == 'Баллоны клиента' && order.status == 'Передано на приемку баллонов'}">
          <form th:action="@{/update-order-status-to-accepted/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Принято на приемке баллонов'"/>
            <select name="responsibleUserId">
              <option th:each="user : ${usersWithSpecificRole}"
                      th:value="${user.id}"
                      th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                      th:selected="${order.responsibleUserId == user.id}">
                <input type="hidden" name="id" th:value="${order.id}"/>
              </option>
            </select>
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.typeOrder == 'Баллоны клиента' && order.status == 'Принято на приемке баллонов' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/checking-need-to-accept-cylinders/{id}(id=${order.id})}" method="post">
            <select name="choice">
              <option value="yes">Да</option>
              <option value="no">Нет</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="managerId" th:value="${order.managerId}"/>
            <button type="submit">Выбрать</button>
          </form>
        </td>
        <td th:if="${order.status == 'Передано на склад'}">
          <form th:action="@{/update-order-status-to-accepted/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Принято на складе'"/>
            <select name="responsibleUserId">
              <option th:each="user : ${usersWithSpecificRole}"
                      th:value="${user.id}"
                      th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                      th:selected="${order.responsibleUserId == user.id}">
                <input type="hidden" name="id" th:value="${order.id}"/>
              </option>
            </select>
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.status == 'Передано на склад для отгрузки'}">
          <form th:action="@{/update-order-status-to-accepted/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Принято на складе для отгрузки'"/>
            <select name="responsibleUserId">
              <option th:each="user : ${usersWithSpecificRole}"
                      th:value="${user.id}"
                      th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                      th:selected="${order.responsibleUserId == user.id}">
                <input type="hidden" name="id" th:value="${order.id}"/>
              </option>
            </select>
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято на складе' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано на участок заправки' th:selected="${order.status == 'Передано на участок заправки'}">На участок заправки</option>
              <option value='Передано на участок подготовки' th:selected="${order.status == 'Передано на участок подготовки'}">На участок подготовки</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято на складе для отгрузки' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Отправлено клиенту'"/>
            <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
            <button type="submit">Отгружено</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_FILLING'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.status == 'Принято на учатске заправки' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано в лабораторию' th:selected="${order.status == 'Передано в лабораторию'}">В лабораторию</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_FILLING_HEAD'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.status == 'Передано на участок заправки'}">
          <form th:action="@{/update-order-status-to-accepted/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Принято на учатске заправки'"/>
            <select name="responsibleUserId">
              <option th:each="user : ${usersWithSpecificRole}"
                      th:value="${user.id}"
                      th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                      th:selected="${order.responsibleUserId == user.id}">
                <input type="hidden" name="id" th:value="${order.id}"/>
              </option>
            </select>
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято на учатске заправки' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано в лабораторию' th:selected="${order.status == 'Передано в лабораторию'}">В лабораторию</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_LAB'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.status == 'Принято в лаборатории' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано на склад для отгрузки' th:selected="${order.status == 'Передано на склад для отгрузки'}">На склад</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_LAB_HEAD'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.status == 'Передано в лабораторию'}">
          <form th:action="@{/update-order-status-to-accepted/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Принято в лаборатории'"/>
            <select name="responsibleUserId">
              <option th:each="user : ${usersWithSpecificRole}"
                      th:value="${user.id}"
                      th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                      th:selected="${order.responsibleUserId == user.id}">
                <input type="hidden" name="id" th:value="${order.id}"/>
              </option>
            </select>
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято в лаборатории' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано на склад для отгрузки' th:selected="${order.status == 'Передано на склад для отгрузки'}">На склад</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_PREPARATION'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.status == 'Принято на участке подготовки' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано на участок заправки' th:selected="${order.status == 'Передано на участок заправки'}">На участок заправки</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div th:if="${currentUserRole == 'ROLE_PREPARATION_HEAD'}">
    <h2>Ваши заявки</h2>
    <table>
      <tr th:each="order : ${gasOrderForRole}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.responsibleUserName}"></td>
        <td th:text="${order.client}"></td>
        <td th:text="${order.deadline}"></td>
        <td th:text="${order.gasMixture}"></td>
        <td th:text="${order.gasСylinderVolume}"></td>
        <td th:text="${order.numberOfGasCylinder}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.typeOrder}"></td>
        <td th:if="${order.status == 'Передано на участок подготовки'}">
          <form th:action="@{/update-order-status-to-accepted/{id}(id=${order.id})}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${order.id}"/>
            <input type="hidden" name="status" th:value="'Принято на участке подготовки'"/>
            <select name="responsibleUserId">
              <option th:each="user : ${usersWithSpecificRole}"
                      th:value="${user.id}"
                      th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                      th:selected="${order.responsibleUserId == user.id}">
                <input type="hidden" name="id" th:value="${order.id}"/>
              </option>
            </select>
            <button type="submit">Принять</button>
          </form>
        </td>
        <td th:if="${order.status == 'Принято на участке подготовки' && order.responsibleUserId == currentUser.id}">
          <form th:action="@{/update-order-status/{id}(id=${order.id})}" method="post" style="display: inline">
            <select name="status">
              <option value='Передано на участок заправки' th:selected="${order.status == 'Передано на участок заправки'}">На участок заправки</option>
            </select>
            <input type="hidden" name="id" th:value="${order.id}"/>
            <button type="submit">Изменить</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="circulatingGasMixtures" class="tab">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Газовая смесь</th>
      <th>Объем баллонов</th>
      <th>Количество баллонов</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mixture : ${gasMixtures}">
      <td th:text="${mixture.id}"></td>
      <td th:text="${mixture.nameGasMixture}"></td>
      <td th:text="${mixture.gasСylinderVolume}"></td>
      <td th:text="${mixture.numberOfGasCylinder}"></td>
      <td th:text="${mixture.status}"></td>
      <td th:if="${currentUserRole == 'ROLE_FILLING' || currentUserRole == 'ROLE_FILLING_HEAD' && mixture.status == 'Создано'}">
        <form action="#" th:action="@{update-gas-mixture-status/{id}(id=${mixture.id})}" method="post">
          <input type="hidden" name="id" th:value="${mixture.id}"/>
          <input type="hidden" name="status" th:value="'Заправлено'"/>
          <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
          <button>Заправлено</button>
        </form>
      </td>
      <td th:if="${currentUserRole == 'ROLE_FILLING' || currentUserRole == 'ROLE_FILLING_HEAD' && mixture.status == 'Заправлено'}">
        <form action="#" th:action="@{update-gas-mixture-status/{id}(id=${mixture.id})}" method="post">
          <input type="hidden" name="id" th:value="${mixture.id}"/>
          <input type="hidden" name="status" th:value="'Передано на анализ'"/>
          <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
          <button>Отправить на анализ</button>
        </form>
      </td>
      <td th:if="${currentUserRole == 'ROLE_LAB' && mixture.status == 'Принято на анализе'}">
        <form action="#" th:action="@{update-gas-mixture-status/{id}(id=${mixture.id})}" method="post">
          <input type="hidden" name="id" th:value="${mixture.id}"/>
          <input type="hidden" name="status" th:value="'Передано на склад'"/>
          <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
          <button th:if="${currentUser.id == mixture.responsibleUserId}">Передать на склад</button>
        </form>
      </td>
      <td th:if="${currentUserRole == 'ROLE_LAB_HEAD' && mixture.status == 'Передано на анализ'}">
        <form action="#" th:action="@{update-gas-mixture-status/{id}(id=${mixture.id})}" method="post">
          <input type="hidden" name="id" th:value="${mixture.id}"/>
          <input type="hidden" name="status" th:value="'Принято на анализе'"/>
          <select name="responsibleUserId">
            <option th:each="user : ${usersWithSpecificRole}"
                    th:value="${user.id}"
                    th:text="${user.lastName} + ' ' + ${user.firstName.charAt(0)}"
                    th:selected="${mixture.responsibleUserId == user.id}">
              <input type="hidden" name="id" th:value="${mixture.id}"/>
            </option>
          </select>
          <button>Принять</button>
        </form>
      </td>
      <td th:if="${currentUserRole == 'ROLE_STOCK_HEAD' && mixture.status == 'Передано на склад'}">
        <form action="#" th:action="@{update-gas-mixture-status/{id}(id=${mixture.id})}" method="post">
          <input type="hidden" name="id" th:value="${mixture.id}"/>
          <input type="hidden" name="status" th:value="'Принято на складе'"/>
          <input type="hidden" name="responsibleUserId" th:value="${currentUser.id}">
          <button>Принять</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Уведомление</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
<!--        Здесь будет текст уведомления.-->
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->
        <button type="button" class="btn btn-primary" id="acceptButton">Принять</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script>
  // Подключение к WebSocket
  const socket = new SockJS('/ws');
  const stompClient = Stomp.over(socket);

  stompClient.connect({}, function (frame) {
    console.log('Подключено: ' + frame);
    stompClient.subscribe('/topic/notifications', function (notification) {
      console.log('Получено уведомление: ', notification.body); // Логируем уведомление
      $('#modalBody').text(notification.body);
      $('#myModal').modal('show');
    });
  }, function (error) {
    console.error('Ошибка подключения: ', error); // Логируем ошибку подключения
  });

  // Обработчик нажатия кнопки "Ок"
  document.getElementById('acceptButton').addEventListener('click', function() {
    const currentOrderId = $('#modalBody').text().match(/ID заявки: (\d+)/)[1]; // Извлечение ID заказа
    fetch('/acceptOrder?orderId=' + currentOrderId, {
      method: 'POST'
    }).then(() => {
      $('#myModal').modal('hide'); // Закрытие модального окна
    });
  });

  function showTab(tabName) {
    // Скрываем все вкладки
    const tabs = document.querySelectorAll('.tab');
    tabs.forEach(tab => tab.classList.remove('active'));

    // Убираем активный класс у всех кнопок
    const buttons = document.querySelectorAll('.tab-button');
    buttons.forEach(button => button.classList.remove('active'));

    // Показываем выбранную вкладку и добавляем активный класс к кнопке
    document.getElementById(tabName).classList.add('active');
    document.querySelector(`.tab-button[onclick="showTab('${tabName}')"]`).classList.add('active');
  }
</script>
</body>
</html>