<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" th:field="*{username}" required/>
    <label for="password">Пароль:</label>
    <input type="password" id="password" th:field="*{password}" required/>
    <label for="role">Должность</label>
    <select id="role" th:field="*{roles}">
        <option th:value="ROLE_MANAGER" th:text="Менеджер"></option>
        <option th:value="ROLE_STOCK" th:text="Сотрудник + ' ' + склада"></option>
        <option th:value="ROLE_PREPARATION" th:text="Сотрудник + ' ' + участка + ' ' +  подготовки"></option>
        <option th:value="ROLE_FILLING" th:text="Сотрудник + ' ' + участка + ' ' + наполнения"></option>
        <option th:value="ROLE_LAB" th:text="Сотрудник + ' ' + лаборатории"></option>
    </select>
    <button type="submit">Register</button>
</form>
</body>
</html>